<head>
  <title>
    <%_ if (locals.title) { _%>
      <%- title %> -
    <%_ } _%>
    Resume Today
  </title>
  <link rel="preload" href="../site.css" as="style">
  <link id='default' rel="stylesheet" type="text/css" href="/site.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      /* Add CSS transitions for a smooth color change */
			transition: background-color 0.000000000000000000000000000000000000000000000000000000001ms ease, color 0.000000000000000000000000000000000000000000000000000000001ms ease;
    }

    .transition {
			/* Set the body background color and text color for dark mode */
			background-color: #000;
			color: white;
		}
  </style>
</head>