<header>
  <h1><a href='/home'><img id='logo' src="../ResumeTodayLogo.png" alt="Resume Today"></a></h1>
</header>
<nav>
  <ul id="navButtons">
    <li><a href='/home'>Home</a></li>
    <li><a href='/about'>About</a></li>
    <li><a href='/contact'>Contact</a></li>
    <li><a href='/help'>Help/Tutorial</a></li>
    <li><a href='/register'>Register</a></li>
    <li><a href='/login'>Login</a></li>
  </ul>
</nav>
<button id="toggle-btn">Light/Dark</button>
<script src="../toggle.js"></script>
<script>
function showTheme() {
  // check if user has a preferred mode and set it
var preferredMode = localStorage.getItem('preferredMode');
if (preferredMode) {
  var cssMode = document.querySelector('#default');
  var logo = document.querySelector('#logo');
  cssMode.setAttribute('href', preferredMode);
  if (preferredMode == '../site_dark.css') {
    logo.src = "../ResumeTodayLogo_dark.png";
  } else {
    logo.src = "../ResumeTodayLogo.png";
  }
}
}

function showContent() {
  document.body.style.visibility = 'visible';
  document.body.style.opacity = 1;
}

window.addEventListener('DOMContentLoaded', function () {
  showTheme();
  showContent();
});</script>
