<header>
  <h1><a href='/home'><img id='logo' src="../ResumeTodayLogo.png" alt="Resume Today"></a></h1>
</header>
<nav>
  <ul id="navButtons">
    <a href='/home'><li>Home</li></a>
    <a href='/about'><li>About</li></a>
    <a href='/contact'><li>Contact</li></a>
    <a href='/help'><li>Help/Tutorial</li></a>
    <a href='/register'><li>Register</li></a>
    <a href='/login'><li>Login</li></a>
  </ul>
</nav>
<button id="toggle-btn">Light/Dark</button>
<script src="../toggle.js"></script>
