<header>
  <h1><a href='/home'><img id='logo' src="../ResumeTodayLogo.png" alt="Resume Today"></a></h1>
</header>
<nav>
  <p id="userIdentifier"> Hello, <%= user.username %> </p>
  <ul id="navButtons">
    <a href='/home'><li>Home</li></a>
    <a href='/about'><li>About</li></a>
    <a href='/contact'><li>Contact</li></a>
    <a href='/help'><li>Help/Tutorial</li></a>
    <a href='/resume-new'><li>New Resume</li></a>
    <a href='/resume-edit'><li>Edit Resume</li></a>
    <a id="logout" href="#"><li>Logout</li></a>
  </ul>
</nav>
<button id="toggle-btn">Light/Dark</button>
<script src="../toggle.js"></script>
<script src="../scripts/logout.js"></script>
<script>
  function showTheme() {
    // check if user has a preferred mode and set it
  var preferredMode = localStorage.getItem('preferredMode');
  if (preferredMode) {
    var cssMode = document.querySelector('#default');
    var logo = document.querySelector('#logo');
    cssMode.setAttribute('href', preferredMode);
    if (preferredMode == '../site_dark.css') {
      logo.src = "../ResumeTodayLogo_dark.png";
    } else {
      logo.src = "../ResumeTodayLogo.png";
    }
  }
  }
  
  function showContent() {
    document.body.style.visibility = 'visible';
    document.body.style.opacity = 1;
  }
  
  window.addEventListener('DOMContentLoaded', function () {
    showTheme();
    showContent();
  });</script>
  
