<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    <%_ if (locals.title) { _%>
      <%- title %> -
    <%_ } _%>
    Resume Today
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/site.css">
</head>
<body id="body">
  <header>
    <h1><img src="../ResumeTodayLogo.png" alt="Resume Today"></h1>
   </header>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/contact'>Contact</a></li>
        <li><a href='/help'>Help</a></li>
        <li><a href='/new'>New Resume</a></li>
        <li><a href='/edit'>Edit Resume</a></li>
        <li><a href='/logout'>Logout</a></li>
      </ul>
    </nav>