<header>
  <h1><a href='/home'><img id='logo' src="../ResumeTodayLogo.png" alt="Resume Today"></a></h1>
</header>
<nav>
  <p id="userIdentifier"> Hello, <%= user.username %> </p>
  <ul id="navButtons">
    <li><a href='/home'>Home</a></li>
    <li><a href='/about'>About</a></li>
    <li><a href='/contact'>Contact</a></li>
    <li><a href='/help'>Help/Tutorial</a></li>
    <li><a href='/resume-new'>New Resume</a></li>
    <li><a href='/resume-view/'>View Resumes</a></li>
    <li><a id="logout" href="#">Logout</a></li>
  </ul>
</nav>
<button id="toggle-btn">Light/Dark</button>
<script src="../toggle.js"></script>
<script src="../scripts/logout.js"></script>