:root {
  --error-color: #a82929;
  --default-border: 1px solid #000;
}

body {
  background-color: white;
  color:#000;
}

header {
  font-family: Euphemia;
  text-align: left;
  height: 10px;
  width: 50px;
}

img#logo{
  height: 150px;
}

header a {
  position: relative;
  height: 150px;
  width: 100px;
  display: inline-block;
}

nav {
  text-align: center;
  border-bottom: var(--default-border);
  padding: 30px;
  padding-bottom: 60px;
  font-weight: bold;
  margin-right: 50px;
  margin-left: 150px;
}

nav > ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  padding: 0em 1em 0em 1em;
  border: var(--default-border);
  border-radius: 10px;
}

nav li:hover {
  background-color: #000;
}

nav a:hover {
  color: #4a86e8;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #4a86e8;
}

#navButtons {
  border: var(--default-border);
  border-radius: 10px;
  width: fit-content;
  margin: auto;
  padding: 0;
}

#navLink {
  color: #4a86e8;
}

#navButtons li {
  margin: 10px;
}

#toggle-btn {
  position: relative;
  top: 25px;
}

#index {
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  padding-bottom: 10px;
}

#p2Div {
  text-align: right;
  padding-top: 100px;
}

#register {
  text-align: center;
  padding-top: 100px;
}

#buildStrong {
  text-align: left;
  padding-top: 100px;
}

#userIdentifier {
  display: inline-block;
  padding: 0em 1em 0em 1em;
  border: var(--default-border);
  background-color: black;
  color: #4a86e8;
}

#resumeList {
  border: var(--default-border);
  padding-top: 2em;
  padding-bottom: 2em;
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.resume {
  text-align: center;
  border: var(--default-border);
  width: 8em;
  height: 5em;
  margin: 1em;
}

.resume a {
  text-decoration: none;
  border: var(--default-border);
  border-radius: 10px;
  padding: 0.5em;
}

.resume a:hover {
  background-color: #000;
  color: #4a86e8;
}

#resumeDiv {
  border: var(--default-border);
  width: 1063px;
  height: 1375px;
  margin-right: 150px;
  margin-left: 150px;
  padding-left: 40px;
  padding-right: 40px;
}

#resumeDiv h2 {
  border-bottom: var(--default-border);
}

#resumeName {
  padding-bottom: 30px;
}

p1 {
  border: var(--default-border);
  border-radius: 50px;
  padding: 30px;
}

p2 {
  border: var(--default-border);
  border-radius: 30px;
  padding: 20px;
}

p3 {
  border: var(--default-border);
  border-radius: 30px;
  padding: 20px;
  font-weight: bold;
}

.error-msg {
  color: var(--error-color);
  font-style: italic;
}

form, fieldset div {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;
}
