:root {
  --bg-color: white;
  --error-color: #a82929;
  --default-border: 1px solid #000;
}

body {
  background-color: transparent;
  color:#000;
  visibility: hidden;
  opacity: 0;
}

header {
  font-family: Euphemia;
  text-align: left;
  height: 10px;
  width: 50px;
}

img#logo{
  height: 150px;
}

header a {
  position: relative;
  height: 150px;
  width: 100px;
  display: inline-block;
}

nav {
  text-align: center;
  border-bottom: var(--default-border);
  padding: 30px;
  padding-bottom: 60px;
  font-weight: bold;
  margin-right: 50px;
  margin-left: 150px;
}

nav > ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  border: var(--default-border);
  border-radius: 10px;
}

nav li a {
  padding: 0em 1em 0em 1em;
  width: fit-content;
  display: inline-block;
  border-radius: 10px;
  background-color: white;
  border: 3px outset #4a86e8;
}

nav li a:hover {
  background-color: #000;
}

nav a:hover {
  color: #4a86e8;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #4a86e8;
}

#navButtons {
  border: var(--default-border);
  border-radius: 10px;
  width: fit-content;
  margin: auto;
  padding: 0;
}

#navLink {
  color: #4a86e8;
}

#navButtons li {
  margin: 10px;
}

#pageContent {
    width: 80%;
    margin: 0 auto;
}

#toggle-btn {
  border: var(--default-border);
  border-radius: 10px;
  width: fit-content;
  margin: 2em;
  color: white;
  background-color: black;
  padding: 5px;
}

#toggle-btn:hover {
  background-color: #fff;
  color: #4a86e8;
}

#downloadButton {
    border: var(--default-border);
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    color: white;
    background-color: black;
    padding: 5px;
}

#downloadButton:hover {
  background-color: #fff;
  color: #4a86e8;
}

#index {
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  padding-bottom: 10px;
}

#p2Div {
  text-align: right;
  padding-top: 100px;
}

#register {
  text-align: center;
  padding-top: 100px;
}

#buildStrong {
  text-align: left;
  padding-top: 100px;
}

#userIdentifier {
  display: inline-block;
  padding: 0em 1em 0em 1em;
  border: var(--default-border);
  background-color: black;
  color: #4a86e8;
}

.resumeList {
  border: var(--default-border);
  padding-top: 2em;
  padding-bottom: 2em;
  width: 80%;
  margin: 0 auto;
  display: flex;
}

/* Add spacing in between consecutive list elements */
.resumeList + .resumeList {
  margin-top: 2em;
}

.resume {
  text-align: center;
  border: var(--default-border);
  width: 9em;
  height: 8em;
  margin: 1em;
}

.resume a, .resume .share-btn {
  text-decoration: none;
  border: var(--default-border);
  border-radius: 10px;
  padding: 0.5em;
  margin-top: 1em;
}

.resume a:hover, .resume .share-btn:hover {
  background-color: #000;
  color: #4a86e8;
}

.resume .share-btn {
  cursor: pointer;
}

#pageView {
  text-align: center;
}

#resumeDiv {
  border: var(--default-border);
  width: 1063px;
  height: 1375px;
  margin-right: 150px;
  margin-left: 150px;
  padding-left: 40px;
  padding-right: 40px;
}

#resumeDiv h2 {
  border-bottom: var(--default-border);
}

#resumeName {
  padding-bottom: 30px;
}

p1 {
  border: var(--default-border);
  padding: 30px;
  background-color: #4a86e8;
  color: white;
}

p2 {
  border: var(--default-border);
  padding: 20px;
  background-color: #4a86e8;
  color: white;
}

p3 {
  border: var(--default-border);
  border-radius: 30px;
  padding: 20px;
  font-weight: bold;
}

p3:hover {
  background-color: black;
  color: #4a86e8;
}

.error-msg {
  color: var(--error-color);
  font-style: italic;
}

form, fieldset div {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
  text-align: left;
}

#shade {
  align-items: center;
  background-color: rgba(0.5, 0.5, 0.5, 0.5);
  display: none;
  height: 100%;
  left: 0;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.popup {
  background-color: var(--bg-color);
  padding: 1.5em;
  position: relative;
}

#share-txt {
  height: 1.5em;
  padding: 0.5em;
  width: 85%;
}

input, #input-autocomplete {
  font-family: Arial;
  font-size: medium;
}

#share-perms-btn {
  font-size: large;
}

/* This is really silly */
#input-autocomplete {
  position: absolute;
  top: 7.45em;
  left: 2.1em;
  opacity: 50%;
}

#direct-edit-menu {
  display: flex;
  flex-direction: column;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #000;
  color: #fff;
}

.dark-mode header {
  font-family: Euphemia;
  text-align: left;
  height: 10px;
  width: 50px;
}

.dark-mode nav {
  border-bottom: #fff 1px solid;
}

.dark-mode nav li {
  border: 1px solid white;
  color: #fff;
}

.dark-mode nav li a {
  background-color: #000;
  border: 3px outset #4a86e8;
}

.dark-mode nav li a:hover {
  background-color: #fff;
}

.dark-mode nav a:hover {
  color: #4a86e8;
}

.dark-mode a {
  color: #fff;
}

.dark-mode a li:hover {
  color: #000;
}

.dark-mode #navButtons {
  border: 1px solid white;
}

.dark-mode #navLink {
  color: #000 !important;
}

.dark-mode #toggle-btn {
  color: #000;
  background-color: #fff;
}

.dark-mode #toggle-btn:hover {
  background-color: #fff;
  color: #000;
}

.dark-mode #downloadButton {
  color: #fff;
  background-color: #000;
}

.dark-mode #downloadButton:hover {
  background-color: #fff;
  color: #000;
}

.dark-mode #userIdentifier {
  color: #4a86e8;
  background-color: #fff;
}

.dark-mode .resumeList {
  border: 1px solid #fff;
}

.dark-mode .resume {
  border: 1px solid #fff;
}

.dark-mode .resume a,
.dark-mode .resume .share-btn {
  background-color: #fff;
  color: #000;
}

.dark-mode .resume a:hover,
.dark-mode .resume .share-btn:hover {
  background-color: #000;
  color: #fff;
}

.dark-mode #resumeDiv {
  color: #000;
  background-color: #fff;
}

.dark-mode #resumeDiv h2 {
  border-bottom: 1px solid #fff;
}

.dark-mode p1 {
  border: 1px solid #fff;
}
.dark-mode p2 {
  border: 1px solid #fff;
}

.dark-mode p3 {
  background-color: #fff;
  color: #000;
}

.dark-mode p3:hover {
  background-color: #000;
  color: #fff;
}

.dark-mode .popup {
  color: #fff;
  background-color: #000;
}

.dark-mode form,
.dark-mode fieldset div {
  text-align: left;
}

.dark-mode input,
.dark-mode #input-autocomplete {
  font-family: Arial;
  font-size: medium;
  color: #000;
}

.dark-mode #direct-edit-menu {
  color: #fff;
}