<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resume Today</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link id='default' rel="stylesheet" type="text/css" href="/site.css">
</head>
<body>
  <%- include('../shared/header', {user}) %>
  <h1>About Us</h1>
  <p>
    The creators of Resume Today are all undergraduates of CVTC, Chippewa Valley Technical College. Each of us are
    closing in on the end of our journey at CVTC and hope to make a life out of the skills we have accumulated there,
    either continuing our education elsewhere or hoping to find a job. We hope this application showcases our skills and
    we can use it in our search for a career. Our names are Joe O'Connor, Autumn Ripczinski, Craig Wyss, and
    James Hoffman. If you would like to reach out to us, see our <a href="/contact"> contact</a> page, we  would be happy
    to talk!
  </p>
  <h2>Resources</h2>
  <p>
    Thinking about going to school yourself? CVTC has many different degree options for many different careers, and
    could help you find your dream job. Get started here:
    <a href="https://www.cvtc.edu/"> Chippewa Valley Technical College</a>
  </p>
  </body>
</html>
