<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resume Today</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link id='default' rel="stylesheet" type="text/css" href="/site.css">
  </head>
  <body>
    <% if (typeof user === 'object' && user ) {%>
      <%- include('../shared/signedInHeader', {user: user}) %>
    <% } else { %>
      <%- include('../shared/loginHeader') %>
    <% } %>
    <h1>Contact Us</h1>
    <form>
      <label for="firstName">First Name: </label>
      <input id="firstName" type="text" name="firstName" placeholder="First Name" required>
      <label for="lastName">Last Name: </label>
      <input id="lastName" type="text" name="lastName" placeholder="Last Name" required>
      <label for="email">Email: </label>
      <input id="email" type="text" name="email" placeholder="Email" required>
      <label for="comments">Comments: </label>
      <input id="comments" type="text" name="comments" placeholder="Comments" required/>
      <input id="contactSubmit" type="submit" value="Contact" />
    </form>
    <p>Thank you for contacting us, we will reach out as soon as possible.</p>
  </body>
</html>
