<!DOCTYPE html>
<html lang="en">
  <%- include('../shared/head') %>
<body>
  <%- include('../shared/signedInHeader.ejs') %>

  <body>
    <h1>Edit Resume</h1>

    <!-- TODO: Display owned resumes instead -->
    <form id="edit-form" class="form">
      <span>Note: This form is just for testing. A GUI will be provided later</span>

      <label for="resume">Resume id *</label>
      <input type="number" id="resume" name="resume">

      <span class="error-msg"><%= locals.msg %></span>
      <button type="submit">Edit</button>
    </form>

    <script>

      const form = document.getElementById("edit-form");

      form.addEventListener("submit", (e) => {
        e.preventDefault();

        let id = document.getElementById("resume").value;
        window.location.replace(`/resume-edit/${id}`);
      });

    </script>
  </body>
  
</html>
