<!DOCTYPE html>
<html lang="en">
  <%- include('../shared/head') %>
<body>
  <%- include('../shared/signedInHeader.ejs') %>

  <body>
    <h1>Edit Resume</h1>

    <script>

    </script>
  </body>
  
</html>
