<!DOCTYPE html>
<html lang="en-US">
  <%- include('../shared/head') %>
<body>
  <%- include('../shared/header', {user}) %>
  <div id="pageContent">
    <main id="index">
      <h1>What Makes a Good Resume?</h1>
      <blockquote>
        A good resume is one that effectively showcases your skills, qualifications, and experiences in a clear and concise manner. Here are some key elements that can make a good resume:
        <ol>
          <li>Clear and concise formatting: A well-organized and easy-to-read format is crucial. Use bullet points and headings to break up large blocks of text and make it easy for the reader to scan your resume quickly.</li><br>

          <li>Relevant information: Focus on highlighting information that is relevant to the position you are applying for. Avoid including irrelevant or extraneous details that do not contribute to your candidacy.</li><br>

          <li>Strong summary or objective statement: A brief summary or objective statement at the top of your resume can help grab the reader's attention and highlight your key qualifications and goals.</li><br>

          <li>Accomplishments and results-oriented language: Use active verbs and concrete examples to describe your accomplishments and contributions in your previous roles.</li><br>

          <li>Tailored to the job posting: Customize your resume to match the requirements and qualifications listed in the job posting. This can help demonstrate that you are a good fit for the position and increase your chances of getting an interview.</li><br>

          <li>No errors: Proofread your resume carefully to ensure that there are no typos, grammatical errors, or formatting inconsistencies. A clean and error-free resume can help demonstrate your attention to detail and professionalism.</li>
        </ol>
      </blockquote>
      <h1>How We Can Help</h1>
      <p>
        All you have to do is click the register button on the home page or on the top of the page and create your account. Then once you have made an account you can start getting your new resume together by answering a few questions and filling out a few forms. Once that's done you will have the ability to customize your resume to the best of our a ability. After that is done you should be able to download your resume and be done with our site. Below are some more resources for what makes a good resume:
      </p>
      <h2>Resources</h2>
      <ul>
        <li><a href="https://www.businessnewsdaily.com/3207-resume-writing-tips.html">Tips for Creating a Great Resume</a></li>
        <li><a href="https://hbr.org/2023/01/what-makes-a-great-resume">What Makes a Great Resume?</a></li>
        <li><a href="https://www.washington.edu/doit/key-elements-resume">Key Elements of a Resume</a></li>
      </ul>
    </main>
  </div>
</body>
</html>
