<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Resume Today</title>
    <link rel="stylesheet" href="../../public/site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
      <header>
      <h1>Resume Today</h1>
      </header>
      <nav>
        <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/contact'>Contact</a></li>
        <li><a href='/register'>Register</a></li>
        <li><a href='/login'>Login</a></li>
        </ul>
      </nav>
      <main id="index">
        <h2>Home</h2>
        <br>
        <p1>Welcome to Resume Today</p1>
        <br>
        <div><p2>Make Resumes that Stand Out!</p2></div>
        <br>
        <div id = register><p3><a href='/register'>Get Started Now!</a></p3></div>
        <br>
        <div id = buildStrong><p1>Build a Strong one of a kind resume today!</p1>
      </main>
  </body>
</html>