<!DOCTYPE html>
<html lang="en-US">
  <%- include('../shared/head') %>
  <body>
    <%- include('../shared/header', {user}) %>
    <main id="index">
      <h2>Home</h2>
      <br>
      <p1>Welcome to Resume Today</p1>
      <br>
      <div id="p2Div"><p2>Make Resumes that Stand Out!</p2></div>
      <br>
      <div id = register><p3><a href='/resume-new'>Get Started Now!</a></p3></div>
      <br>
      <div id = buildStrong><p1>Build a Strong one of a kind resume today!</p1> </div>
    </main>
  </body>
</html>
