<%- include('../shared/loginHeader.ejs') %>

<body>
  <h1>Login</h1>
    <form>
        <label for="username">Username: </label>
        <input id="username" type="text" name="username" placeholder="username" required/>
        <label for="password">Password: </label>
        <input id="password" type="password" name="password" placeholder="password" required/>
        <input id="loginSubmit" type="submit" value="Login"/>
    </form>
    <p>Don't have an account? <a href="/register">Register</a></p>
    <p id="error" class="error-msg"></p>
  <script type="text/javascript" src="scripts/login.js"></script>
</body>
</html>
