<%- include("../shared/signedInHeader.ejs") %>

<!DOCTYPE html>
<html lang ="en">
<head>
  <title>Resume Today</title>
  <meta charset="UTF-8">
</head>
<body>
  <h1>New Resume</h1>

  <form id="resume-form">
    <label for="title">Title *</label>
    <input type="text" id="title">

    <label for="about">About me</label>
    <textarea type="text" id="about"></textarea>

    <span class="error-msg"></span>
    <button type="submit">Save</button>
  </form>

  <script>
    const form = document.getElementById("resume-form");
    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      const values = form.querySelectorAll("input, textarea");

      // Validate form because you can never trust the client
      const res = await fetch("/resume/validate", {
        method: "POST",
        body: JSON.stringify({
          title: values[0].value,
          about: values[1].value
        }),
        headers: { "Content-Type": "application/json" }
      });

      const result = await res.json();
      if (!result.success) {
        document.querySelector("span.error-msg").innerHTML = result.msg;
        return;
      }
      window.location.replace(`/resume/view/${result.resumeId}`);
    })
    
  </script>
</body>
</html>