<!DOCTYPE html>
<html lang="en">
<%- include('../shared/head') %>
<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v16.0" nonce="5V19FSnB"></script>

  <%- include("../shared/signedInHeader.ejs") %>

  <h1><%= user.first_name + ' ' + user.last_name %></h1>
   
  <!-- Render resume here -->
  <%- resume.html %>
  
  <a href = "resume.html" Download = "index.html">
  <button type = "button">Download </button>
  
  <div class="fb-like" data-href="https://resume-today.onrender.com/resume-view" data-width="10" data-layout="" data-action="" data-size="" data-share="true"></div>

</body>
</html>