<%- include("../shared/signedInHeader.ejs") %>

  <body>
    <h1><%= user.name %></h1>
    
    <%_ if (resume.about !== "") { _%>
      <h2>About Me</h2>
      <p><%= resume.about %></p>
    <%_ } _%>
    <script>

    </script>
  </body>
</html>