<!DOCTYPE html>
<html lang="en">
<%- include('../shared/head') %>
<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v16.0" nonce="5V19FSnB"></script>

  <%- include("../shared/signedInHeader.ejs") %>

  <h1><%= user.first_name + ' ' + user.last_name %></h1>
   
  <!-- Render resume here -->
  <%- resume.html %>
  
  <button type = "button" onclick = "startDownload()"> Download </button>
  
  <div class="fb-like" data-href="https://resume-today.onrender.com/resume-view" data-width="10" data-layout="" data-action="" data-size="" data-share="true"></div>
  
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.1/axios.min.js"> </script>
  <script>
    async function startDownload() {
    let results = await axios({
    url: 'https://resume-today.onrender.com/resume-view',
    method: 'GET',
    responseType: 'blob'
    })
    let hidden_a = document.createElement('a');
    hidden_a.href = window.URL.createObjectURL(new Blob([results.data]));
    hidden_a.setAttribute('download', 'resume.html');
    document.body.appendChild(hidden_a);
    hidden_a.click();
    }
  </script>

</body>
</html>